golden_data_gemma-2b.jsonl
golden_data_gemma2-27b.jsonl
golden_data_gemma2-2b.jsonl
golden_data_gemma2-9b.jsonl
golden_data_gemma3-12b.jsonl
golden_data_gemma3-27b.jsonl
golden_data_gemma3-4b.jsonl
golden_data_llama2-70b.jsonl
golden_data_llama2-7b.jsonl
golden_data_llama3-70b.jsonl
golden_data_llama3-8b.jsonl
golden_data_llama3.1-405b.jsonl
golden_data_llama3.1-70b.jsonl
golden_data_llama3.1-8b.jsonl
golden_data_llama3.3-70b.jsonl
golden_data_llama4-17b-16e.jsonl
golden_data_mistral-7b.jsonl
golden_data_mixtral-8x22b.jsonl
golden_data_mixtral-8x7b.jsonl
