# Local .terraform directories
**/.terraform/*

# Python caches
__pycache__

# .tfstate files
*.tfstate
*.tfstate.*

# Compiled JSonnet templates
dags/jsonnet/*

# Standalone Airflow instance
airflow-webserver.pid
airflow.cfg
airflow.db
standalone_admin_password.txt
webserver_config.py
logs
