repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      name: Running codespell for typos
      entry: codespell -w --skip="*.txt,pylintrc,.*,src/MaxText/assets/*" .
