---
files: ^(.*\.(py|md|sh|yaml|yml|in|cfg|txt|rst|toml|precommit-toml|wordlist))$
exclude: ^(\.[^/]*(cache|assets|uv|venv)/.*)$
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - "-w"
          - '--skip="*.txt,pylintrc,.*,src/MaxText/assets/*"'
          - "-L ND,nd,sems,TE,ROUGE,rouge,astroid,ags,dout"
          - "."
        additional_dependencies:
          - tomli

  #   - repo: https://github.com/abravalheri/validate-pyproject
  #     rev: v0.24.1
  #     hooks:
  #       - id: validate-pyproject
  #         name: Validate pyproject.toml
  #         language: python
  #         files: '^pyproject\.toml$'
  #         entry: python

  - repo: https://github.com/pylint-dev/pylint
    rev: v3.3.8
    hooks:
      - id: pylint
        args:
          - "--disable=R0401,R0917,W0201,W0613"
          - "--ignore-patterns='.pytype,.*pyi$'"
          - "benchmarks"
          - "end_to_end"
          - "src"
          - "tests"

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "122"]

  - repo: https://github.com/google/pytype
    rev: 2024.10.11
    hooks:
      - id: pytype
        # Disable the import-error check to avoid false positives on
        # dependent libraries not installed in the pre-commit environment.
        args: ["--jobs=auto", "--keep-going", "--disable=import-error"]

  - repo: https://github.com/google/pyink
    rev: 24.10.1
    hooks:
      - id: pyink
        args:
          - "--pyink-indentation=2"
          - "--line-length=122"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use a stable revision
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
