[build-system]
requires = ["hatchling", "hatch-requirements-txt"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "src/MaxText/__init__.py"

[project]
name = "maxtext"
description = "MaxText is a simple, performant and scalable Jax LLM!"
dynamic = ["dependencies", "optional-dependencies", "version"]
requires-python = ">=3.12"
readme = "README.md"
license = "Apache-2.0"
keywords = ["llm", "jax", "llama", "mistral", "mixtral", "gemma", "deepseek"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: ML",
    "Environment :: GPU :: NVIDIA CUDA :: 12",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]

[tool.hatch.metadata.hooks.requirements_txt]
files = ["dependencies/requirements/generated_requirements/tpu-requirements.txt"]

[tool.hatch.metadata.hooks.requirements_txt.optional-dependencies]
tpu = ["dependencies/requirements/generated_requirements/tpu-requirements.txt"]
cuda12 = ["dependencies/requirements/generated_requirements/cuda12-requirements.txt"]

[project.urls]
Repository = "https://github.com/AI-Hypercomputer/maxtext.git"
"Bug Tracker" = "https://github.com/AI-Hypercomputer/maxtext/issues"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/MaxText", "src/install_maxtext_extra_deps"]

[project.scripts]
install_maxtext_github_deps = "install_maxtext_extra_deps.install_github_deps:main"
