jax[tpu]==0.4.6
orbax==0.1.6
absl-py
argparse
datetime
google-cloud-storage
flax
ml-collections
numpy
optax
portpicker
protobuf==3.20.3
pylint
pytest
sentencepiece==0.1.97
tensorflow==2.12.0rc0
tensorflow-datasets
tensorboard-plugin-profile
tensorflow-text==2.12.0rc0
tensorboardx
