orbax-checkpoint
absl-py
aqtp
cloud-tpu-diagnostics
google-cloud-storage
flax
ml-collections
numpy
optax
protobuf==3.20.3
pylint
pytest
pytype
sentencepiece==0.1.97
tensorflow-datasets
tensorflow-text
tensorboardx
tensorflow
tensorboard-plugin-profile
torch
