# Requirements for Building the MaxText Docker Image
# These requirements are additional to the dependencies present in the JAX AI base image.
datasets
grain[parquet]>=0.2.6
orbax-checkpoint>=0.10.3
pylint
pytest
pyink
pre-commit
protobuf==3.20.3
pytype
pillow>=11.1.0
sentencepiece==0.1.97
tensorflow-text>=2.13.0
tensorflow-datasets
tiktoken
transformers
mlperf-logging@git+https://github.com/mlperf/logging.git
google-jetstream@git+https://github.com/AI-Hypercomputer/JetStream.git
jsonlines
pathwaysutils==0.1.1
google-api-python-client
omegaconf
jaxtyping
