absl-py
aqtp
array-record
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
flax>=0.11.0
gcsfs
google-api-python-client
google-cloud-aiplatform>=1.105.0
google-cloud-monitoring
grain[parquet]>=0.2.6
huggingface_hub
jax>=0.4.30,<0.7.1
jaxlib>=0.4.30,<0.7.1
jaxtyping
jsonlines
ml-collections
ml-goodput-measurement>=0.0.13
numpy
omegaconf
optax
orbax-checkpoint>=0.11.22
pathwaysutils>=0.1.1
pillow>=11.1.0
pre-commit
protobuf>=3.20.3
pyink
pylint
pytest
pytype
sentencepiece>=0.2.0
tensorboard-plugin-profile
tensorboardx>=2.6.2.2
tensorflow-datasets
tensorflow-text>=2.17.0
tensorflow>=2.16.0
transformer-engine[jax]
tiktoken
transformers
tunix @ https://github.com/google/tunix/archive/ee3229a43362fc1209cd477352309c86ca3496b0.zip
google-jetstream @ https://github.com/AI-Hypercomputer/JetStream/archive/261f25007e4d12bb57cf8d5d61e291ba8f18430f.zip
mlperf-logging @ https://github.com/mlcommons/logging/archive/44b4810e65e8c0a7d9e4e207c60e51d9458a3fb8.zip
qwix @ https://github.com/google/qwix/archive/9fc58cdbb5e344aff5be2922cb6b7292f3454f60.zip
# datasets 0.4.0 is not compatible with fsspec==2025.7.0. It will be updated in the next datasets release.
datasets @ https://github.com/huggingface/datasets/archive/6790e138c00b87a1ddc72184f89e7814cf784360.zip
seqio @ https://github.com/google/seqio/archive/49213270cc20aaafaa06814502aad655d9275936.zip
# transformer-engine @ https://github.com/NVIDIA/TransformerEngine/archive/9d031fbd9dd8f9e57d8145080943d512c8b76840.zip
