# Requirements for Building the MaxText Docker Image
# These requirements are additional to the dependencies present in the JAX SS base image.
absl-py
datasets
pylint
pytest
pyink
pre-commit
pytype
sentencepiece==0.1.97
tensorflow-text>=2.13.0
tensorflow-datasets
tiktoken
transformers
mlperf-logging@git+https://github.com/mlperf/logging.git
google-jetstream
jsonlines