array-record
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
gcsfs
flax==0.10.4
ml-collections
ml-goodput-measurement==0.0.4
numpy
optax
protobuf==5.29.3
tensorboard-plugin-profile
orbax-checkpoint==0.11.6
proto-plus==1.25.0
grpcio-status>=1.48.2
tensorboardX==2.6.2.2
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.82.0
google-cloud-appengine-logging==1.6.0
google-cloud-audit-log==0.3.0
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.2
google-cloud-logging==3.11.4
google-cloud-monitoring==2.27.0
google-cloud-resource-manager==1.14.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-jetstream==0.2.2
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.0
grpc-google-iam-v1==0.14.1
tfds_nightly==4.9.7.dev202503040044
