orbax-checkpoint
absl-py
cloud-tpu-diagnostics
datetime
google-cloud-storage
flax
ml-collections
numpy
optax
portpicker
protobuf==3.20.3
pylint
pytest
sentencepiece==0.1.97
tensorflow
tensorflow-datasets
tensorflow-text
tensorboardx
tensorboard-plugin-profile
