# Requirements for Building the MaxText Docker Image
# These requirements are additional to the dependencies present in the JAX AI base image.
datasets
flax>=0.11.0
google-api-python-client
google-jetstream@git+https://github.com/AI-Hypercomputer/JetStream.git
grain[parquet]>=0.2.6
jaxtyping
jsonlines
mlperf-logging@git+https://github.com/mlperf/logging.git
omegaconf
orbax-checkpoint @ git+https://github.com/google/orbax.git@test_782430938#subdirectory=checkpoint
jax>=0.6.2
jaxlib>=0.6.2
cloudpickle==3.0.0
numpy==2.1.1
pathwaysutils>=0.1.1
pillow>=11.1.0
pre-commit
protobuf==3.20.3
pyink
pylint
pytest
pytype
qwix@git+https://github.com/google/qwix.git
sentencepiece==0.1.97
tensorflow-datasets
tensorflow-text>=2.17.0
tiktoken
transformers
tunix@git+https://github.com/google/tunix.git