base_config: "base.yml"

run_name: "gpu_train_test"
# Args coming from the NVIDIA spreadsheet http://shortn/_W9CzVbtQde and
# third_party/py/maxtext/configs/a3/llama_2_7b.
hardware: "gpu"
steps: 5
model_name: "llama2-7b"
enable_checkpointing: False
attention: "cudnn_flash_te"
remat_policy: "minimal"
use_iota_embed: True
scan_layers: True
dataset_type: "synthetic"
async_checkpointing: False
logits_dot_in_fp32: False

per_device_batch_size: 4
max_target_length: 4096
