absl-py
aqtp
array-record
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
datasets
drjax
flax>=0.12.4
gcsfs
google-api-python-client
google-cloud-aiplatform
google-cloud-mldiagnostics
google-cloud-monitoring
grain[parquet]
huggingface_hub==0.36.0
hf-xet!=1.2.1
jax
jaxlib
jaxtyping
jsonlines
ml-collections
ml-goodput-measurement
numpy
omegaconf
optax
orbax-checkpoint
pathwaysutils
pillow
pre-commit
protobuf
pydantic
pyink
pylint
pytest
pytype
sentencepiece
tensorboard-plugin-profile
tensorboardx
tensorflow-datasets
tensorflow-text
tensorflow
tiktoken
tokamax!=0.1.0
transformers
qwix
google-jetstream @ https://github.com/AI-Hypercomputer/JetStream/archive/29329e8e73820993f77cfc8efe34eb2a73f5de98.zip
mlperf-logging @ https://github.com/mlcommons/logging/archive/38ab22670527888c8eb7825a4ece176fcc36a95d.zip
