-r requirements.txt
anthropic
astor
cachetools
cbor2
compressed-tensors
gepa
gguf
google-cloud-storage
google-tunix
gspread
hypothesis
ipykernel
ipywidgets
ijson
llguidance
loguru
lxml
mistral_common
model-hosting-container-standards
openai
openai-harmony
papermill
partial-json-parser
perfetto
prometheus-fastapi-instrumentator
py-cpuinfo
pybase64
pytest-mock
python-json-logger
pyzmq
ray
runai-model-streamer[s3,gcs]
setuptools<81.0.0
sortedcontainers
torchax
torchvision
tpu-info
watchfiles
xgrammar
xprof
yapf
