-r requirements.txt
anthropic
astor
blake3>=1.0
cachetools
cbor2
gepa
gguf
google-tunix
gspread
ipykernel
ipywidgets
ijson
llguidance
loguru
lxml
mistral_common
model-hosting-container-standards
openai
openai-harmony
outlines-core==0.2.11
papermill
partial-json-parser
peft
perfetto
prometheus-fastapi-instrumentator
py-cpuinfo
pybase64
pytest-mock
python-json-logger
pyzmq
ray
setproctitle>=1.0
setuptools==78.1.1
torch==2.13.0
watchfiles
xgrammar
xprof
