-r requirements.txt
anthropic
astor
blake3>=1.0
cachetools
cbor2
fastapi>=0.139.0
gepa
gguf
google-tunix
gspread
hf-transfer>=0.1.4
ipykernel
ipywidgets
ijson
llguidance
loguru
lxml
mistral_common
model-hosting-container-standards
nbclient>=0.10.4
openai
openai-harmony
outlines-core==0.2.11
papermill
partial-json-parser
peft
perfetto
pickleshare>=0.7.5
prometheus-fastapi-instrumentator
py-cpuinfo
pybase64
pytest-mock
python-json-logger
pyzmq
ray
setproctitle>=1.3.4
setuptools==78.1.0
torch==2.11.0
watchfiles
xgrammar
xprof
