absl-py
aqtp
array-record
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
datasets
flax
gcsfs
google-api-python-client
google-cloud-aiplatform
google-cloud-monitoring
grain[parquet]
huggingface_hub
jax!=0.7.1
jaxlib>=0.8.0
jaxtyping
jsonlines
ml-collections
ml-goodput-measurement
numpy
omegaconf
optax
orbax-checkpoint
pathwaysutils
pillow
pre-commit
protobuf
pydantic
pyink
pylint
pytest
pytype
qwix
sentencepiece
tensorboard-plugin-profile
tensorboardx
tensorflow-datasets
tensorflow-text
tensorflow
tiktoken
tokamax>=0.0.4
transformers
google-jetstream @ https://github.com/AI-Hypercomputer/JetStream/archive/29329e8e73820993f77cfc8efe34eb2a73f5de98.zip
mlperf-logging @ https://github.com/mlcommons/logging/archive/38ab22670527888c8eb7825a4ece176fcc36a95d.zip
