# Requirements for Building the MaxText Docker Image
# These requirements are additional to the dependencies present in the JAX AI base image.
datasets @ https://github.com/huggingface/datasets/archive/6790e138c00b87a1ddc72184f89e7814cf784360.zip
flax>=0.11.0
google-api-python-client
google-jetstream @ https://github.com/AI-Hypercomputer/JetStream/archive/29329e8e73820993f77cfc8efe34eb2a73f5de98.zip
grain[parquet]>=0.2.13
jaxtyping
jsonlines
mlperf-logging @ https://github.com/mlcommons/logging/archive/38ab22670527888c8eb7825a4ece176fcc36a95d.zip
omegaconf
orbax-checkpoint>=0.11.22
pathwaysutils>=0.1.1
pillow>=11.1.0
pre-commit
protobuf>=5.29.5
pyink
pylint
pytest
pytype
qwix
sentencepiece>=0.2.0
tensorflow-datasets
tensorflow-text>=2.17.0
tiktoken
tokamax>=0.0.4
transformers
transformer_engine==2.8.0
