absl-py
aqtp
array-record
datasets
flax
grain[parquet]
huggingface_hub

jax==0.9.1

# ROCm JAX wheels
jax-rocm7-plugin==0.9.1.*

math-verify

jaxtyping
jsonlines
ml-collections
numpy
omegaconf
optax
orbax-checkpoint
pathwaysutils
pillow
pre-commit
protobuf
pydantic
pyink
pylint
pytest
parameterized
pytype
sentencepiece
tensorboardx
tensorflow-datasets
tensorflow-text<2.20
tensorflow<2.20
tiktoken
numba>=0.59.0
google-tunix
tokamax @ git+https://github.com/openxla/tokamax.git@69b328121c3ee120d8e54cf26d1565cea189617f
transformers>=4.57.3,<5
qwix
mlperf-logging @ https://github.com/mlcommons/logging/archive/38ab22670527888c8eb7825a4ece176fcc36a95d.zip
chex>=0.1.91
drjax>=0.1.4
