name: Check the Documentation Build

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: '3.12'
          enable-cache: true

      - name: Set venv
        run: uv venv --python 3.12 $GITHUB_WORKSPACE/venv

      - name: Install dependencies
        run: . $GITHUB_WORKSPACE/venv/bin/activate && uv pip install -r dependencies/requirements/requirements_docs.txt

      - name: Build documentation
        run: |
          . $GITHUB_WORKSPACE/venv/bin/activate
          uv pip install -e . --no-deps
          uv pip install torch
          sphinx-build -W -b html docs docs/_build/html
        env:
          JAX_PLATFORMS: cpu
          CUDA_VISIBLE_DEVICES: ""
