# Copyright 2023-2026 Google LLC

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     https://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This file defines a module for running tests against the built maxtext package or
# pre-built images. It can run unit tests and integration tests.

name: MaxText Test Coordinator

on:
  workflow_call:
    inputs:
      flavor:
        description: >
          Test flavor (tpu-unit, tpu-integration, post-training-tpu-unit,
          post-training-tpu-integration, gpu-unit, gpu-integration, cpu-unit)
        required: true
        type: string
      base_image:
        description: 'The docker image to run tests against'
        required: true
        type: string
      is_scheduled_run:
        required: false
        type: boolean
        default: false
      maxtext_sha:
        description: 'Git SHA to checkout if MaxText is not pre-installed'
        required: false
        type: string
      maxtext_installed:
        description: 'If false, maxtext_sha must be provided for checkout'
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  execute-test-package:
    name: ${{ inputs.flavor }}
    strategy:
      fail-fast: false
      matrix:
        worker_group: ${{ fromJSON(contains(inputs.flavor, 'cpu') && '[1, 2]' || '[1]') }}

    uses: ./.github/workflows/run_tests_against_package.yml
    with:
      # Infrastructure Mapping
      device_type: >-
        ${{ fromJSON('{
          "tpu-unit": "tpu",
          "tpu-integration": "tpu",
          "post-training-tpu-unit": "tpu",
          "post-training-tpu-integration": "tpu",
          "gpu-unit": "cuda12",
          "gpu-integration": "cuda12",
          "cpu-unit": "cpu"
        }')[inputs.flavor] }}

      device_name: >-
        ${{ fromJSON('{
          "tpu-unit": "v6e-4",
          "tpu-integration": "v6e-4",
          "post-training-tpu-unit": "v6e-4",
          "post-training-tpu-integration": "v6e-4",
          "gpu-unit": "a100-40gb-4",
          "gpu-integration": "a100-40gb-4",
          "cpu-unit": "X64"
        }')[inputs.flavor] }}

      cloud_runner: >-
        ${{ fromJSON('{
          "tpu-unit": "linux-x86-ct6e-180-4tpu",
          "tpu-integration": "linux-x86-ct6e-180-4tpu",
          "post-training-tpu-unit": "linux-x86-ct6e-180-4tpu",
          "post-training-tpu-integration": "linux-x86-ct6e-180-4tpu",
          "gpu-unit": "linux-x86-a2-48-a100-4gpu",
          "gpu-integration": "linux-x86-a2-48-a100-4gpu",
          "cpu-unit": "linux-x86-n2-16"
        }')[inputs.flavor] }}
      # Pytest Marker Mapping
      pytest_marker: >-
        ${{ fromJSON('{
            "tpu-unit": "not cpu_only and not gpu_only and not integration_test",
            "tpu-integration": "not cpu_only and not gpu_only and integration_test",
            "post-training-tpu-unit": "not cpu_only and not gpu_only and not integration_test",
            "post-training-tpu-integration": "not cpu_only and not gpu_only and integration_test",
            "gpu-unit": "not cpu_only and not tpu_only and not integration_test",
            "gpu-integration": "not cpu_only and not tpu_only and integration_test",
            "cpu-unit": "cpu_only"
          }')[inputs.flavor] }}

      pytest_extra_args: >-
        ${{ fromJSON('{
            "tpu-unit": "--ignore=tests/unit/post_train",
            "tpu-integration": "--ignore=tests/unit/post_train",
            "post-training-tpu-unit": "",
            "post-training-tpu-integration": "",
            "gpu-unit": "--ignore=tests/unit/post_train",
            "gpu-integration": "--ignore=tests/unit/post_train",
            "cpu-unit": "--ignore=tests/unit/post_train"
          }')[inputs.flavor] }}

      # Resource Scaling
      xla_python_client_mem_fraction: "${{ contains(inputs.flavor, 'gpu') && '0.65' || '0.75' }}"
      tf_force_gpu_allow_growth: "${{ contains(inputs.flavor, 'gpu') && 'true' || 'false' }}"

      container_resource_option: >-
        ${{ contains(inputs.flavor, 'gpu')
            && '--shm-size 2g --runtime=nvidia --gpus all --privileged'
            || '--privileged' }}

      # Metadata
      base_image: ${{ inputs.base_image }}
      is_scheduled_run: ${{ inputs.is_scheduled_run }}
      maxtext_installed: ${{ inputs.maxtext_installed }}
      worker_group: ${{ matrix.worker_group }}
      total_workers: ${{ contains(inputs.flavor, 'cpu') && 2 || 1 }}
      maxtext_sha: ${{ inputs.maxtext_sha }}